.imgheader{
	background: url(../asset/img/Stadionhome.jpg);
	background-size: cover ;
	height: 500px;
	
}
.event{
	padding-top: 100px;
}

nav ul a.link:hover {
  background-color: #0288d1;
}

.labelsearch{
	margin-top: 20px;
}

.jumbotron {
  padding-top: 50px;
  margin-left: 100px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  
}
.jumbotron p{
	font-family: arial; 
  font-weight: 900; 
}

.jumbotron hr{
	float: left;
	width: 70px;
	height: 10px;
	background-color:#0288d1;
	border: 0px;
	margin-top: -50px;
}

.title-line-content {
	height: 2px;
	border: 0px;
	margin-top: 20px;
	margin-bottom: 60px;
}


/*content*/
.event-content {
	border: 1px solid #bdbdbd ;
}
.event-match{
	padding-bottom: 40px;
}
.event-Listmatch {
	display: inline-flex;
	padding-right: 10px;
	padding-left: 10px;
}
.list-price{
	display: inline-flex;
}
.tribun-class{
	display: inline-flex;
	padding-right: 160px;
	padding-left: 10px;
}

.fill {
	border-left: 1px solid black;
	
}
.price{
	margin-left: 40px;
	float: right;
}

.date__weekday{
	color: #616161;
	font-weight: 900;
	font-size: 12pt;
}
.date__month{
	color: #9e9e9e;
	font-size: 9pt;
	margin-top: -6px;
	margin-left: 5px;
}
.event__info{
	color: #616161;
	font-size: 12pt;
}
.event__note{
	font-size: 9pt;
	color: #9e9e9e; 
}
.event__info_cw {
	font-size: 9pt;
	color: #9e9e9e; 
}
.text__from{
	font-size: 9pt;
	color: #9e9e9e; 
}

.wrapper{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.item {
	height: 260px;
}

.col{
	margin-top: 0px;
}
.event{
	margin-top: -120px;
}
/*footer*/
.footer-content{
  margin-top: 50px;
  
  height: 100px;
}

.img-footer{
  margin-top: 10px;

  margin-right: 10px;
  margin-left: 10px;
  width: 30px;
}
.cs{
	float: right;
	margin-left: 20px;
}